<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Blog</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="logo">User Page</a>
      <div class="nav-items">
        <a class="nav-link"><%= name %></a>
        <a class="nav-link"><%= email %></a>
        <a class="blogUser" href="/blogUser" style="color:dodgerblue;">Your Blog</a>
        <form action="/userlogout" method="post">
          <button class="download-btn" type="submit">Logout</button>
        </form>
      </div>
    </nav>

    <header>
      <div class="container">
        <div class="left">
          <h1>Your Blog</h1>
          <p>This page will display all the blog you create</p>
        </div>

        <div class="right">
            <img src="images/1.png" alt="" />
          </div>
      </div>
    </header>

    <div class="blog-header">
        <h4 style="padding: 10px;">Read Your Blog Here</h3>
        <a class="btn" href="/blog">Add Blog+</a>
      </div>

    <div class="container-card">
      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <div class="blog-card">
            <img style="max-width: 100%; height: 200px; border-radius: 10px;" src="<%= blog.image %>" id="image" alt="<%= blog.title %>" />
            <div class="blog-content">
              <h3 class="blog-title" id="title"><%= blog.title %></h3>
              <p class="blog-description" id="description">
                <%= blog.description %>
              </p>
              <a href="/blog/<%= blog._id %>" style="color: #0D706e;" class="read-more">Read More</a>
              <!-- Buttons for Edit and Delete -->
              <a href="/blog/edit/<%= blog._id %>" class="edit-btn">Edit</a>
              <form action="/blog/delete/<%= blog._id %>" method="POST" style="display: inline;">
                <button type="submit" class="delete-btn">Delete</button>
              </form>

              <form action="/blog/share/<%= blog._id %>" method="POST" style="display: inline;">
                <button type="submit" class="share-btn"><i class="fas fa-share-alt"></i></button>
              </form>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p style="margin-left: 10px; margin-top: -20px;">You haven't posts yet!!!</p>
      <% } %>
    </div>

    <a class="back" href="/home">Back</a>

    <footer>
      <div class="container">
        <div class="content">
          <div class="left">
            <div class="logo">User Page</div>
            <p>&copy; 2025 Minh Hieu and this is a personal blog project</p>
          </div>

          <div class="right">
            <div class="links">
              <h3>Quick Links</h3>
              <ul>
                <li>
                  <a href="/home">Home</a>
                </li>

                <li>
                  <a href="/blogUser">Your Blogs</a>
                </li>

                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </div>

            <div class="links">
              <h3>Contact Us</h3>
              <ul>
                <li>+84 123-4567</li>
                <li>minhhieu@gmail.com</li>
                <li>Da Nang City,Viet Nam</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="copyright">
          <p>Minh Hieu</p>
          <div class="socials">
            <a href="#"><img src="/images/facebook-logo.svg" alt="" /></a>
            <a href="#"><img src="images/instagram-logo.svg" alt="" /></a>
            <a href="#"><img src="images/twitter-logo.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
